.toggle.rectangle{
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
}
.toggle.rectangle:after{

    border-width: 0 0 25px 25px;
    border-color: transparent transparent #DFDFE8 transparent;
    opacity: .7 !important;
    background: linear-gradient(135deg, #DFDFE8 0%, #ffffff 80%) !important;
}

html .toggle-primary .toggle label {
    color: #283865;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}
.toggle > label {
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    background: #ffffff !important;
    border-left: 3px solid #CCC;
    border-radius: 5px;
    color: #CCC;
    display: block;
    min-height: 20px;
    padding: 12px 20px 12px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
}
.toggle{
    text-align: left;
}
