.cover{
	background-image: url(../img/controlv2/home_bg.svg) !important;
	background-size: 80%  100% !important;
	background-repeat: no-repeat !important;
	/*background-position: center;*/
	background-position:  center -10px !important;
	animation-duration: 750ms !important;
	animation-delay: 300ms !important;
	animation-fill-mode: forwards !important;
}
.board{
	background-color: #fff;
	width: 110%;
	padding: 10px 10%;
	margin-top: 20px;
	border-radius: 10px;
}
.board-about {
	background-color: #fff;
	width: 140%;
	padding: 20px 20%;
	margin-top: 20px;
	margin-left: -150px;
	border-radius: 10px;
}

.about{
	margin-left: -50px
}
.beside-about{
	z-index: 1000;
}
.how{

}
.beside-how{
	z-index: 1000;
	/*margin-left: -50px*/
}
.imgsvg{
	height: 75%;
	width: auto;
}
.how-title{
	margin-top: 100px;
}
.paywithOrderid{
	background-image: url(../img/controlv2/pay_with_orderid_bg.svg) !important;
	background-color: #F2F5FF !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: bottom !important;
	animation-duration: 750ms !important;
	animation-delay: 300ms !important;
	animation-fill-mode: forwards !important;
	height: 500px;
}
.contact-us{
	background-color: #283865 !important;
	border-radius: 15px;
	padding: 30px 50px;
}
.contact-h{
	color: #fff !important;
	margin-top: 30%;
}
.invite-input{
	width:70%; border-radius: 4px; border-color: #fff; background-color: #1BB6F1
}
.border-radius-15{
	border-radius: 15px !important;
}
.btn-outline-dark{
	width: 120px;
	text-align: left;
	margin-top: 20px;
	position: absolute;
	bottom: 20px;
}
.fa.fa-arrow-right{
	margin-left: 20px;
}
@media (max-width: 767px) {

	.board-about p, .board p{
		text-align: left;
		font-size: 17px !important;
	}
	.board-about {
		width: 100% !important;
		padding: 20px 20px;
		margin-top: 20px;
		margin-left: 00px;
		border-radius: 10px;
	}
	.board{
		background-color: #fff;
		width: 100%;
		padding: 20px 20px;
		margin-top: 20px;
		border-radius: 10px;
	}
	.about{
		margin-left: 0px !important;
	}
	.about h1, .how h1{
		text-align: left;
		margin-top: 5px;
	}
	.beside-how img{
		/*width: 100%;*/
		margin-top: 20px;
		margin-bottom: -20px !important;
	}
	.beside-how{
		margin-bottom: 0px !important;
	}
	.orderid-input{
		width:100% !important;
	}
	.orderid-btn{
		margin: 5px 0px !important; padding: 10px 40px !important;
	}
	.paywithOrderid{
		height: 600px;
		/*margin-top: -50px !important;*/
	}
	.green-online{
		font-size: 20px!important;
		color: #68D873 !important;
	}

	/*	contact*/
	.border-right{
		border-right: 0px !important;
	}
	.contact-us{
		border-radius: 0px;
		padding: 20px 10px;
	}
	.contact-us p{
		margin-bottom: 0px !important;
	}
	.contact-h {
		/*color: #fff !important;*/
		margin-top: 10% !important;
	}
	.header-body {
		margin-top: 0px !important;
	}

	.header-container {
		padding: 10px 10px !important;
		border-radius: 0px !important;
	}
	.cover{
		background-image: url(../img/controlv2/home_bg.svg) !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		/*background-position: center;*/
		background-position:  center -10px !important;
		animation-duration: 750ms !important;
		animation-delay: 300ms !important;
		animation-fill-mode: forwards !important;
	}
	.brand{
		font-size: 30px !important;
	}
	.brand-p{
		font-size: 18px !important;
		margin-bottom: 30px !important;
	}
	.wide-btn{
		margin: 20px 0 0 10px !important;
	}
    .wide-btn-b {
        margin: 20px 0 0 15px !important;
    }
	.invite-input{
		width:100% !important;
	}

}

.board-about {
	background-color: #fff;
	width: 140%;
	padding: 20px 20%;
	margin-top: 20px;
	margin-left: -150px;
	border-radius: 10px;
}
.board{
	background-color: #fff;
	width: 110%;
	padding: 10px 10%;
	margin-top: 20px;
	border-radius: 10px;
}
.about{
	margin-left: -50px
}
.beside-about{
	z-index: 1000;
}
.how{

}
.beside-how{
	z-index: 1000;
	/*margin-left: -50px*/
}
.imgsvg{
	height: 75%;
	width: auto;
}
.how-title{
	margin-top: 100px;
}
.orderid-input{
	width:50%; border-radius: 4px; border-color: #fff; background-color: #FFFFFF1A
}
.orderid-btn{
	margin: 1px 0px 0px 5px; float: left; border-radius: 4px; padding: 15px 40px;
}
.green-online{
	color: #68D873 !important;
}

.paywithOrderid{
	background-image: url(../img/controlv2/pay_with_orderid_bg.svg) !important;
	background-color: #F2F5FF !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: bottom !important;
	animation-duration: 750ms !important;
	animation-delay: 300ms !important;
	animation-fill-mode: forwards !important;
	height: 210px;
}
.contact-us{
	background-color: #283865 !important;
	border-radius: 15px;
	padding: 30px 50px;
}
.contact-h{
	color: #fff !important;
	margin-top: 30%;
}
.header-body{
	padding-top: 70px !important;
	background-color: #F2F5FF !important;
}
.header-container{
	padding: 30px 70px !important;
	border-radius: 20px !important;
}
.wide-btn{
	margin: 1px 0px 0px 15px; float: left; border-radius: 4px; padding: 15px 40px;
}

.border-radius-15{
	border-radius: 15px !important;
}
/*.border-radius-15:hover{*/
	/*	border-radius: 15px !important;*/
	/*}*/
	.btn-outline-dark{
		width: 120px;
		text-align: left;
		margin-top: 20px;
		position: absolute;
		bottom: 20px;
	}
	.fa.fa-arrow-right{
		margin-left: 20px;
	}

	@media (max-width: 767px) {

		.header-body {
			padding-top: 0px !important;
		}

		.header-container {
			padding: 10px 10px !important;
			border-radius: 0px !important;
		}
		.board-about {
			width: 100% !important;
            padding: 10px 10%;
			margin-top: 20px;
			margin-left: 00px;
			border-radius: 10px;
		}
		.board{
			background-color: #fff;
			width: 100%;
			padding: 10px 10%;
			margin-top: 20px;
			border-radius: 10px;
		}
		.about{
			margin-left: 0px !important;
		}
		.about h1, .how h1{
			text-align: left;
			margin-top: 5px;
		}
		.beside-how img{
			/*width: 100%;*/
			margin-top: 20px;
			margin-bottom: -20px !important;
		}
		.beside-how{
            margin-bottom: -150px !important;
		}
		.orderid-input{
			width:100% !important;
		}
		.orderid-btn{
			margin: 5px 0px !important; padding: 15px 40px !important;
		}
		.paywithOrderid{
			height: 110px;
		}
		.green-online{
			font-size: 20px!important;
			color: #68D873 !important;
		}

		/*	contact*/
		.border-right{
			border-right: 0px !important;
		}
		.contact-us{
			border-radius: 0px;
			padding: 20px 10px;
		}
		.contact-us p{
			margin-bottom: 0px !important;
		}
		.contact-h {
			/*color: #fff !important;*/
			margin-top: 10% !important;
		}

	}
