/* Grid */
@media (min-width: 1100px) {
	.container {
		max-width: 1100px;
	}
	.col-sm-12.col-lg-8.counter.mb-5{
		margin-top: 100px !important;
	}
}
@media (max-width: 991px) {
	.show-after{
		content: url('../img/controlv2/about_bag.svg');
		padding: 30px;
		width: 100%;
	}
}
@media (min-width: 576px) {
	.container-fluid {
		padding-left: 3.125%;
		padding-right: 3.125%;
	}
}
p {
	letter-spacing: -0.05em;
	font-size: 16px;
	font-size: 1rem;
}

.section-concept p,
.custom-text-color-1 {
	color: #283865 !important;
}

.color-inherit {
	color: inherit !important;
}

.custom-header-bar:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	width: 45vw;
	background-image: linear-gradient(150deg, #0088cc 0%, #0088cc 30%, #0169fe 70%, #0169fe 100%);
	border-radius: 4px;
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.06);
					box-shadow: 0 0 60px rgba(0, 0, 0, 0.06);
}

@media (max-width: 1200px) {
	.custom-header-bar:before {
		width: 110vw;
	}
}
.custom-font-size-1 {
	font-size: 15px;
	font-size: .9375rem;
}

.custom-font-size-2 {
	font-size: 18px;
	font-size: 1.125rem;
}

.custom-nav-link {
	font-size: 13px;
	font-size: .8125rem;
	letter-spacing: -0.025em;
	text-transform: uppercase;
	font-weight: 700;
	padding: 4px 0 !important;
	padding: .25rem 0 !important;
	margin: 0 20px;
	margin: 0 1.25rem;
	border-bottom: 4px solid transparent;
}
.custom-nav-link:not(.active).nav-link {
	color: #222529;
}

.owl-carousel.carousel-center-active-item-2 .owl-item.active > div {
	background-image: linear-gradient(150deg, #0088cc 0%, #0088cc 30%, #0169fe 70%, #0169fe 100%) !important;
}
