/* Add here all your CSS customizations */
#header .header-nav.header-nav-links nav > ul > li > a.active {
    color: #FF0000 !important;
    background: url(../img/controls/dot.svg) 0 100% no-repeat padding-box !important;
    background-position-x: 50% !important;
    background-position-y: 75% !important;

}
#header .header-nav.header-nav-links nav > ul > li > a:hover {
    color: #FF0000 !important;
}
.icon.icon-facebook{
    content: url(../img/controls/icon-facebook.svg) !important;
}
.icon.icon-skype{
    content: url(../img/controls/icon-skype.svg) !important;
}
.icon.icon-instagram{
    content: url(../img/controls/icon-instagram.svg) !important;
}
.icon.icon-linkedin{
    content: url(../img/controls/icon-linkedin.svg) !important;
}
.icon.icon-sms-channel{
    content: url(../img/controls/sms-channel.svg) !important;
}
.icon.icon-whatsapp-channel{
    content: url(../img/controls/whatsapp-channel.svg) !important;
}
.icon.icon-facebook-channel{
    content: url(../img/controls/facebook-channel.svg) !important;
}
.icon.icon-twitter-channel{
    content: url(../img/controls/twitter-channel.svg) !important;
}
.icon.icon-wechat-channel{
    content: url(../img/controls/wechat-channel.svg) !important;
}
.icon.icon-slack-channel{
    content: url(../img/controls/slack-channel.svg) !important;
}
.icon.icon-skype-channel{
    content: url(../img/controls/skype-channel.svg) !important;
}
.icon.icon-telegram-channel{
    content: url(../img/controls/telegram-channel.svg) !important;
}
.icon.icon-web-channel{
    content: url(../img/controls/web-channel.svg) !important;
}
.bg-color-dark-scale-2.rectangle{
    height: 220px !important;
    width: 100% !important;
}
.social-icons li{
    margin-right: 10px;
}
.f25{
    font-size: 18px !important;
}
.mb-100{
    margin-bottom: 100px !important;
}
.mt-100{
    margin-top: 100px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.p-25 {
    padding: 30px 50px !important;
}

.f30{
    font-size: 30px !important;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.p20 {
    padding: 17px 20px;
}

.short{
    width: 170px;
}
.long{
    width: 370px;
}
input {
    padding: 25px 20px !important;
}

.customise{
    border-radius: 0;
    display: inline;
}

.rectangle.btn{
    border-radius: 0px !important;
    padding: 20px !important;
}
.rectangle {
    position: relative !important;
    border: none !important;
    border-radius: 0 !important;
}
.rectangle:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 20px;
    border-color: transparent transparent #283865 transparent;
}
.btn-rounded.rectangle:after {
    border-width: 0 0 10px 10px !important;
}
.col-lg-6.rectangle:after {
    border-width: 0 0 70px 50px !important;
}

/*.sect{*/
/*    background-image: url(../img/controls/background-transparent.svg) !important; background-size: cover !important;*/
/*    background-position: center !important; animation-duration: 750ms;*/
/*    animation-delay: 300ms; animation-fill-mode: forwards;*/
/*}*/
.sect-w{
    background-image: url(../img/controls/background-white-transparent.svg) !important; background-size: cover !important;
    background-position: center !important; animation-duration: 750ms;
    animation-delay: 300ms; animation-fill-mode: forwards;
}

.text-white{
    font-color: #ffffff !important;
}
.text-dark{
    color: #283865 !important;
}
.f21{
    font-size: 21px !important;
}
.bg-color-dark-scale-2.rectangle {
    background-color: #ffffff !important;
}
.bg-color-dark-scale-2.rectangle .custom-text-color-1{
    color: #000 !important;
}
.footer-links{
    color: #283865 !important;
    text-decoration: none !important;
}
.footer-links:hover{
    color: #FF0000 !important;
    text-decoration: none !important;
}

.btn-gradient:not(.btn-outline) {
    background: linear-gradient(135deg, #ffffff 0%, #cccccc 80%);
    color: #777777;
}
.rectangle .text-color-default {
    color: #777 !important;
    font-size: 12px;
    line-height: 1.6;
}
.bg-color-dark-scale-2 .icon{
    margin-bottom: 20px !important;
}
.line {
    background-color: #fff!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    padding-left: 0!important;
}
.no-border-radius{
    border-radius: 0px !important;
}
.form-group i{
    margin-top: -30px;
}
.custom{
    width: 15% !important; height: 60px !important;
}
.border-top-dark {
    border-top: 1px solid #283865 !important;
}
/*.custom::after{*/
/*    content: ''*/
/*}*/
html .toggle-primary .toggle.active > label {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #283865;
}
#header .header-btn-collapse-nav {
    background: none;
    font-size: 30px;
}

/*New*/
footer{
    padding-bottom: 100px !important;
    background-color: #F2F5FF !important;
    background-image: url(../img/controlv2/footer_bg.svg) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    animation-duration: 750ms !important;
    animation-delay: 300ms !important;
    animation-fill-mode: forwards !important;
    margin-top: -24px !important;
}
.last-footer p{
    display: inline-block !important;

}
.last-footer p.mt-2{
    float: right;
}
.last{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}
.first-container{
    margin-top: 250px !important;
}

.img-pc-hide{
    display: none !important;
}
.block-pc-hide{
    display: none !important;
}
.btn-mobile-hide{
    display: inline !important;
}
.bg-purple{
    background-color: #A174DB !important;
}
.bg-blue{
    background-color: #00AEEF !important;
}
.bg-green{
    background-color: #68D873 !important;
}
.bg-yellow{
    background-color: #FFC84D !important;
}
.wide-btn{
    margin: 1px 0px 0px 15px !important; float: left !important; border-radius: 4px !important; padding: 10px 40px !important;
}


@media (max-width: 991px) {
    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a {
        /*background: #0088cc !important;*/
        font-size: 25px !important;
        text-transform: capitalize;
        padding: 30px;
        color: #fff;
    }
    #header .header-nav.header-nav-links nav > ul > li > a.active {
        background-image: none !important;
        /*background: #0088cc !important;*/
    }
    #header .header-nav-main.header-nav-main-mobile-dark nav > ul li {
        border-bottom: 0 !important;
    }
    #header .header-nav-main nav > ul {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    #header .header-nav-main.header-nav-main-mobile-dark:before {
        background-color: #0088cc !important;
    }
    html.sticky-header-active #header.header-transparent .header-nav-main nav {
        padding: 0 !important;
    }

    #header .header-nav-main nav > ul {
        height: 700px;
        background: #0088cc !important;
    }
    #header .header-nav-main nav {
        max-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 15px;
        transition: ease all .5s;
    }
    .btn.btn-danger{
        font-size: 20px !important;
    }
    .border-right{
        border-right: 0px !important;
    }
    .contact-us{
        border-radius: 0px !important;
        padding: 20px 10px !important;
    }
    .contact-us p{
        margin-bottom: 0px !important;
    }
    .contact-h {
        /*color: #fff !important;*/
        margin-top: 10% !important;
    }
    footer div div div h5 img{
        width: 80% !important;
    }


}

@media (max-width: 767px) {
    section.section {
        padding: 10px 0 !important;
    }

    footer div div div h5.text-3 {
        font-size: 20px !important;
        text-transform: capitalize;
        padding-bottom: 5px;
    }

    .last-footer {
        text-align: center !important;

    }
    .last-footer p.mt-2 {
        float: unset;
    }
    .last{
        padding: 0 !important;
    }
    .first-container{
        margin-top: 150px !important;
    }

    .btn-mobile-hide{
        display: none !important;
    }
    .fa.fa-bars{
        color: #283865;
    }
    .img-pc-hide{
        display: inline !important;
    }
    .block-pc-hide{
        display: block !important;
    }


}
