/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*.navbar-semi-dark .navbar-header {*/
/*    background: #283865 !important;*/
/*}*/
*{
    font-family: 'Poppins';
}
html body a {
    color: #00AEEF;
}
.app-content{
    background-color: #283865;
}
.dropdown .dropdown-divider {
    border: 1px solid #283865;
}
.navbar-wrapper, .content-wrapper, .navbar-semi-dark .navbar-header {
    background: #283865 !important;
}

.ft-toggle-right:before{
    content: url('../images/controls/sidebar-button.svg') !important;
}
.ft-toggle-left:before{
    content: url('../images/controls/sidebar-left.svg') !important;
}
.icon.icon-dashboard:before{
    content: url('../images/controls/view-dashboard-blue.svg') !important;
}
.active .icon.icon-dashboard:before{
    content: url('../images/controls/view-dashboard-red.svg') !important;
}
.ficon.ft-bell:before{
    content: url('../images/controls/notification.svg') !important;
}
.ficon.ft-bell.active:before{
    content: url('../images/controls/notification-red.svg') !important;
}
.icon.icon-edit-button:before{
    content: url('../images/controls/edit-button.svg') !important;
}
.icon.icon-delete-button:before{
    content: url('../images/controls/delete-button.svg') !important;
}
.icon.icon-button-no:before{
    content: url('../images/controls/button-no.svg') !important;
}
.icon.icon-button-yes:before{
    content: url('../images/controls/button-yes.svg') !important;
}
.icon.icon-dots:before{
    content: url('../images/controls/dots.svg') !important;
}
.icon.icon-shipping:before{
    content: url('../images/controls/shipping.svg') !important;
}
.icon.icon-star-filled:before{
    content: url('../images/controls/rating-star-filled.svg') !important;
}
.icon.icon-star-empty:before{
    content: url('../images/controls/rating-star-empty.svg') !important;
}
.icon.icon-close-modal:before{
    content: url('../images/controls/close-button-blue.svg') !important;
}
.icon.icon-wallet-box:before{
    content: url('../images/controls/wallet-box.svg') !important;
}
.icon.icon-total-transaction-box:before{
    content: url('../images/controls/total-transaction-box.svg') !important;
}
.icon.icon-wallet-grand-box:before{
    content: url('../images/controls/wallet-grand-box.svg') !important;
}
.icon.icon-profile-avatar:before{
    content: url('../images/controls/profile-avatar.svg') !important;
}
.icon.icon-avatar1:before{
    content: url('../images/controls/avatar1.svg') !important;
}
.icon.icon-avatar2:before{
    content: url('../images/controls/avatar2.svg') !important;
}
.icon.icon-avatar3:before{
    content: url('../images/controls/avatar3.svg') !important;
}
.icon.icon-avatar4:before{
    content: url('../images/controls/avatar4.svg') !important;
}
.icon.icon-avatar5:before{
    content: url('../images/controls/avatar-5.svg') !important;
}


.icon.icon-services:before{
    content: url('../images/controls/services-blue.svg') !important;
}
.icon.icon-transaction:before{
    content: url('../images/controls/transaction-blue.svg') !important;
}
.icon.icon-wallet:before{
    content: url('../images/controls/wallet-blue.svg') !important;
}
.icon.icon-customers:before{
    content: url('../images/controls/customers-blue.svg') !important;
}
.icon.icon-subscribers:before{
    content: url('../images/controls/subscribers-blue.svg') !important;
}
.icon.icon-account:before{
    content: url('../images/controls/account-blue.svg') !important;
}
.icon.icon-settings:before{
    content: url('../images/controls/settings-blue.svg') !important;
}
.icon.icon-help:before{
    content: url('../images/controls/help-blue.svg') !important;
}
.icon.icon-logout:before{
    content: url('../images/controls/logout-blue.svg') !important;
}
.icon{
    line-height: 1.2 !important;
}



.active .icon.icon-services:before{
    content: url('../images/controls/services-red.svg') !important;
}
.active .icon.icon-transaction:before{
    content: url('../images/controls/transaction-red.svg') !important;
}
.active .icon.icon-wallet:before{
    content: url('../images/controls/wallet-red.svg') !important;
}
.active .icon.icon-customers:before{
    content: url('../images/controls/customers-red.svg') !important;
}
.active .icon.icon-subscribers:before{
    content: url('../images/controls/subscribers-red.svg') !important;
}
.active .icon.icon-account:before{
    content: url('../images/controls/account-red.svg') !important;
}
.active .icon.icon-settings:before{
    content: url('../images/controls/settings-red.svg') !important;
}
.active .icon.icon-help:before{
    content: url('../images/controls/help-red.svg') !important;
}
.active .icon.icon-logout:before{
    content: url('../images/controls/logout-red.svg') !important;
}

/*Here*/

.icon.icon-total-services:before{
    content: url('../images/controls/total-services.svg') !important;
}
.icon.icon-total-transactions:before{
    content: url('../images/controls/total-transactions.svg') !important;
}
.icon.icon-wallet-balance:before{
    content: url('../images/controls/wallet-balance.svg') !important;
}
.icon.icon-highest-transaction:before{
    content: url('../images/controls/highest-transaction.svg') !important;
}

.main-menu.menu-light .navigation>li a{
    border-left: 5px solid #fff !important;
}

.main-menu.menu-light .navigation>li .active{
    border-left: 5px solid red !important;
}
.brand-logo.expanded{
    width: auto !important;
}
.navigation li:first-child{
    margin-bottom: 50px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 20px !important;
    margin-left: 20px !important;
}
.navigation hr{
    margin: 50px 0;
    border-top: 1px solid #eee;
}

.main-menu.menu-light .navigation>li .active {
     background: #fff;
}
.navbar-header .nav .nav-item .navbar-brand .brand-logo{
    display: block !important;
}
.navbar-header .nav .nav-item .navbar-brand .brand-logo.expanded{
    display: none !important;
}
.navbar-header.expanded .nav .nav-item .navbar-brand .brand-logo{
    display: none !important;
}
.navbar-header.expanded .nav .nav-item .navbar-brand .brand-logo.expanded{
    margin-left: 30%;
    display: block !important;
}
.avatar img {
    border: 2px solid #fff !important;
}
.search-bar{
    display: flex; background-color: #fff;
    margin-left: 10px;
}
.search-bar i{
    padding-left: 20px;
    cursor: pointer;
}
.search-bar input{
    border: none;
}
.main-menu.menu-light .navigation>li>a {
    padding: 0px 30px 0px 18px !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.title{
    color: #fff;
    margin-bottom: 20px;
    margin-top: -25px;
}
.card-title{
    color: #8898AA;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: bold !important;
}
.i-success i{
    /*background-color: #2DCE98;*/
    /*border-radius: 50%;*/
    /*padding: 5px;*/
    /*color: #ffffff;*/
}

.btn-outline-info{
    border-color: #00AEEF;
}
.diff-title{
    font-weight: 500;
}
.activity-wrapper{
    padding: 15px 20px;
}
.top{
    color: #8898AA;
    font-size: 9px;
}
.log{
    font-weight: 600;
}

.avastyle{
    margin-right: 10px;
    margin-top: 5px;
}
.footer.footer-light {
    background: #283865;
}
footer.navbar-border {
    border-top: 1px solid #283865;
}

.footer.footer-light a{
    color: #90a4ae!important;
}
.text-truncate{
    font-size: 12px;
}

.mt-30{
    margin-top: 30px !important;
}
.p-20{
    padding: 20px;
}
.line {
    background-color: #fff!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    padding-left: 0!important;
    border-color: #283865;
}
.modal-content{
    width: 875px;
    padding: 20px;
    margin-left: -200px;
    margin-top: 100px;
}
.modal-header {
    border-bottom: none;
}
.modal-footer{
    border-top: none;
    display: unset;
}
.custom-file-label::after {
    background-color: #00AEEF;
    color: #fff;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    line-height: .7;
    border-radius: 5px;
}


@media (max-width: 991.98px) {
    [data-menu=vertical-menu-modern] .header-navbar.navbar-with-menu .navbar-container {
        width: 90%;
        display: table;
        background: #283865;
        padding: 0 1rem;
        margin: 0 !important;
        height: auto;
    }

    [data-menu=vertical-menu-modern] .header-navbar .navbar-header {
        width: 100%!important;
        padding: .5rem 1rem;
        position: relative;
    }
    .navbar-header.expanded .nav .nav-item .navbar-brand .brand-logo.expanded {
        margin-left: 0!important;
    }

    .app-content.content{
        margin-top: 79px;
    }
    .d-lg-block.d-sm-none{
        display: none !important;
    }
    .btn-outline-blue.d-sm-none{
        display: none !important;
    }

    /*body.vertical-layout.vertical-menu-modern .navbar .navbar-header {*/
    /*    width: 60px !important;*/
    /*}*/
    /*body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-container {*/
    /*    margin-left: 60px;*/
    /*}*/
    /*body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {*/
    /*    margin-left: 260px;*/
    /*}*/

}

@media (max-width: 767.98px) {
    .header-navbar .navbar-header .navbar-brand {
        position: absolute;
         left: 12% !important;
        top: 0;
        transform: translate(-50%,0);
    }
    .navbar-header.expanded .nav .nav-item .navbar-brand .brand-logo.expanded {
        margin-left: 30% !important;
    }

}
@media (min-width: 992px) {
    .mt-lg-50, .my-lg-50 {
        margin-top: 50px!important;
    }
}
@media (max-width: 767.98px) {
    .vertical-overlay-menu .main-menu {
        width: 100%;

    }

    .main-menu.menu-light .navigation {
        color: #6b6f82;
        background: #283865 !important;
    }

    .main-menu.menu-light .navigation > li a {
        border-left: 5px solid #283865 !important;
    }

    .main-menu.menu-light .navigation > li .active {
        background: #283865;
    }

    .main-menu.menu-light .navigation li a {
        color: #fff;
        transition: all .2s ease;
    }

    .navigation hr {
        margin: 20px 0;
    }

/*    Here*/

    .is-active .ft-menu:before {
        content: url('../images/controls/close-button.svg') !important;;
    }
    .ft-menu:before {
        content: url('../images/controls/open-button.svg') !important;;
    }
    .icon.icon-dashboard:before{
        content: url('../images/controls/view-dashboard-white.svg') !important;
    }
    .icon.icon-services:before{
        content: url('../images/controls/services-white.svg') !important;
    }
    .icon.icon-transaction:before{
        content: url('../images/controls/transaction-white.svg') !important;
    }
    .icon.icon-wallet:before{
        content: url('../images/controls/wallet-white.svg') !important;
    }
    .icon.icon-customers:before{
        content: url('../images/controls/customers-white.svg') !important;
    }
    .icon.icon-subscribers:before{
        content: url('../images/controls/subscribers-white.svg') !important;
    }
    .icon.icon-account:before{
        content: url('../images/controls/account-white.svg') !important;
    }
    .icon.icon-settings:before{
        content: url('../images/controls/settings-white.svg') !important;
    }
    .icon.icon-help:before{
        content: url('../images/controls/help-white.svg') !important;
    }
    .icon.icon-logout:before{
        content: url('../images/controls/logout-white.svg') !important;
    }
}
